---
import Angular from "../icons/Angular.astro";
import Code from "../icons/Code.astro";
import SpringBoot from "../icons/SpringBoot.astro";

const TAGS = {
  ANGULAR: {
    name: "Angular",
    class: "bg-fuchsia-100/90 text-gray-900",
    icon: Angular,
  },
  SPRING: {
    name: "SpringBoot",
    class: "bg-green-100/90 text-gray-900",
    icon: SpringBoot,
  },
};

const PROJECTS = [
  {
    title: "Projecto 1",
    description:
      "Descripcipon de un proyecto largo que se ha realizado en el pasado y que tambien me ha gustado hacerlo completo entero yo solo sin tutorial",
    link: "https://google.com",
    github: "#github",
    image: "/projects/shots.png",
    tags: [TAGS.ANGULAR, TAGS.SPRING],
  },
  {
    title: "Projecto 1",
    description:
      "Descripcipon de un proyecto largo que se ha realizado en el pasado y que tambien me ha gustado hacerlo completo entero yo solo sin tutorial",
    link: "https://google.com",
    github: "#github",
    image: "/projects/shots.png",
    tags: [TAGS.ANGULAR, TAGS.SPRING],
  },
];
---

<section
  class="w-full lg:w-[740px] flex flex-col justify-center gap-4 mb-32"
  id="proyectos"
>
  <h2
    class="text-3xl font-semibold mb-5 text-white flex items-center gap-x-5 mt-14 dark:text-gray-900"
  >
    <Code class="size-8" />Ultimos proyectos
  </h2>
  {
    PROJECTS.map((project) => (
    <article class="relative border-2 border-blue-900 rounded-2xl shadow-2xl shadow-amber-100/50 
                  dark:border-gray-950 dark:shadow-cyan-600 mb-10 px-10 md:pb-10 md:pt-16 xxs:pt-10 xxs:px-5 overflow-hidden">
      <a href={project.github} class="cursor-pointer block md:peer">
        <img
          class="md:absolute md:top-[-50px] md:left-1/2 md:-translate-x-1/2 md:-translate-y-1/2 w-full md:max-w-[100%] 
          md:rounded-b-[170px] md:transition-all md:duration-500
          md:hover:translate-y-14 md:hover:px-2 md:hover:py-2 md:hover:rounded-2xl 
          dark:shadow-gray-950/80"
          src={project.image}
          alt={`Captura de pantalla del proyecto ${project.title}`}
        />
      </a>

      <!-- Div que se anima cuando se hace hover sobre el <a> -->
      <div class="md:transition-all md:duration-500 md:peer-hover:translate-y-60">
        <h3 class="text-2xl font-semibold text-fuchsia-700/95 mb-2 dark:text-gray-950 md:mt-30 xs:mt-10 xxs:mt-8">
          {project.title}
        </h3>
        <p class="text-lg mb-4 text-pretty dark:text-gray-800">
          {project.description}
        </p>
        <ul class="flex flex-row gap-x-2 items-center">
          {project.tags.map((tag) => (
            <li class="text-white/50 dark:text-gray-800/50">
              <span
                class={`flex gap-x-2 items-center rounded-full border-1 py-1 px-2 text-sm ${tag.class}`}
              >
                <tag.icon class="size-6" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
      </div>
    </article>
    ))
  }

  <div class="flex justify-center mt-10">
    <span
      class="relative inline-flex overflow-hidden rounded-full backdrop-blur-3xl p-[2px] md:w-[300px] xxs:w-[260px] animate-custom-move"
    >
      <span
        class="absolute inset-[-1000%] animate-[spin_1s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#0000FF_0%,#1E90FF_25%,#87CEEB_50%,#1E90FF_75%,#0000FF_100%)]"
      ></span>
      <div
        class="inline-flex items-center justify-center w-full px-4 font-semibold py-2 md:text-lg xxs:text-[17px] text-sky-400 bg-gray-800 rounded-full cursor-pointer dark:bg-white/80 dark:text-gray-800 backdrop-blur-3xl whitespace-nowrap"
      >
        Más proyectos en camino...
      </div>
    </span>
  </div>
</section>
